{% extends 'base.html' %} {% block header %}
<!-- This should always go here -->
  {% block title %}
    <title>Login</title>
    <link rel="stylesheet" href="../../static/css/login.css">
  {% endblock %}
<!-- You can change Register to anything else.-->
{% endblock %} {% block content %}
<!-- All your body content goes here! -->
<nav class="navbar sticky-top">
    <a class="navbar-brand" href="#">SHPE at UCI Portal</a>
</nav>

<div class="container-login100 mx-auto">
    <div class="wrap-login100">
      <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %} {% block content3 %} {% endblock %}
      </div>
      <h1>Login</h1>
      <div class="container justify-content-center text-center" >
        <form method="post">
            <input
                type=text
                name="email"
                placeholder="Email"
                id="email"
                required
            /><br>
            <input
                type="password"
                placeholder="Password"
                name="password"
                id="password"
                required
            /> <br>
            <input type="checkbox" name="remember"/> <label for="remember">Remember Me</label>
            <br>
            <input type="submit" value="Log In" />
        </form>
        <a href="/forgot">Forgot Password?</a><br>
        Don't have an account? 
        <a href="{{ url_for('auth.register') }}">Register here</a>
      </div>
    </div>
</div>
{% endblock %}
