{% extends 'base.html' %} {% block header %}

<h1>
    {% block title %}
    <title>SHPE UCI - Registration</title>
    <link rel="stylesheet" href="../../static/css/register.css"/>
    {% endblock %}
</h1>
<!-- You can change Register to anything else.-->
{% endblock %} {% block content %}
<!-- All your body content goes here! -->


<nav class="navbar sticky-top">
    <a class="navbar-brand" href="#">SHPE | UCI Portal</a>
</nav>

<div id=form >
    <div id="registration-form">
        <p id="Form_name"> SHPE UCI Member Registration</b></p>
        <form method="post">
            <input
                type="text"
                name="first_name"
                placeholder="Enter first name"
                id="first_name"
                required
            /><br />
            <input
                type="text"
                placeholder="Last Name"
                name="last_name"
                id="last_name"
                required
            /><br />
            <input
                type="Email"
                placeholder="Enter UCI email"
                name="email"
                id="email"
                required
            /><br />
            <input
                type="password"
                placeholder="Enter password"
                name="password"
                id="password"
                required
            /><br />
            <label for="Major">
            <input 
            type="text" 
            placeholder="Major" 
            name="major" 
            id="major" 
            required 
         /> <br />
            <input 
            type="text" 
            placeholder="Year" 
            name="year" 
            id="year" 
            required 
        /> <br />
            <input type="checkbox" name="remember" /> Remember me <br/> 
            Already have an account? <a href="#">sign in</a>
        </form>
    </div>
</div>

{% endblock %}
