/* Put your custom CSS here. */
.navbar {
    background-color: #0071C5;
    box-shadow: 10px 0px 20px black;
    color: gray;
    font-size: 30px;
}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;

}

a {
	line-height: 1.7;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  	-o-transition: all 0.4s;
  	-moz-transition: all 0.4s;
}

input[type=submit] {
	background: #0071C5;
	color: white;
	width: 300px;
	padding:5px 15px; 
	border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}



.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #399be6;
  background: -webkit-linear-gradient(-135deg, #0071C5, #ffffff);
  background: -o-linear-gradient(-135deg, #0071C5, #ffffff);
  background: -moz-linear-gradient(-135deg, #0071C5, #ffffff);
  background: linear-gradient(-135deg, #0071C5, #ffffff);
}

.wrap-login100 {
  width: 400px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 30px 30px 30px;
}
