body {
    width: 100vh; 
    height: 100vh;
    margin: 0 auto;
    text-align: center;
  }
  .container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  .steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: auto;
  }
  .step {
    width: 40px;
    height: 40px;
    background: #fff;
    border: 2px solid #4B81BD;;
    border-radius: 50%;
    transition: background 1s;;
  }
  .step.selected {
    background: #4B81BD;   
  }
  .step.completed {
    border: 2px solid #4B81BD;
    background: #4B81BD; 
  }
  .checkoutProgressBar {
    position: absolute;
    width: 95%;
    height: 50%;
    border-bottom: 2px solid #0064A4;
    z-index: -1;
  }
  .percent {
    position: absolute;
    width: 0;
    height: 100%;
    border-bottom: 2px solid #4B81BD;
    z-index: 1;
    transition: width 1s;
  }

  #shpeMembershipTypes{
    align-self: left;
  }

  #checkoutForm{
    padding-top: 20%;
    margin:0 auto;
  }
