/* css specific for the dashboard.html file */

/*navbar related css*/
.navbar {
    background-color: #0071C5;
    box-shadow: 0px 0px 20px black;
    color: gray;
}

a {
    color: white;
}

a:hover {
    color: rgb(255, 170, 59);
}

body {
    background-color: rgb(243, 243, 243);
}

/* Point Cards */

#fall-card {
    background-color: rgba(187, 26, 26, 0.363);
}

#winter-card {
    background-color: rgba(135, 207, 235, 0.521);
}

#spring-card {
    background-color: rgba(0, 255, 0, 0.288);
}

h2 {
    color: #0071C5;
}


/* Resume Upload */

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}


.fc-event-title{
    color: purple;
    cursor: default;
    pointer-events: none;        
    text-decoration: none;
}

.fc-event-time {
    color: purple;
    cursor: default;
    pointer-events: none;        
    text-decoration: none;
}

.fc-daygrid-event-harness {
    pointer-events: none;
    text-decoration: none;
    background-color: none;
}


.fc-event-main-frame {
    cursor: default;
}