/* css specific for the dashboard.html file */

/*navbar related css*/
.navbar {
    background-color: #0071C5;
    box-shadow: 10px 0px 20px black;
    color: gray;
}

a {
    color: white;
}

a:hover {
    color: gray;
}

body {
    background-color: #373F51;
}

/* Point Cards */

#fall-card {
    background-color: rgba(187, 26, 26, 0.363);
}

#winter-card {
    background-color: rgba(135, 207, 235, 0.521);
}

#spring-card {
    background-color: rgba(0, 255, 0, 0.288);
}

h2 {
    color: #E5B781;
}

body > div {
}

