.fb{
  display:flex;
  justify-content:space-around;
  align-items:stretch;
}

form.fb{
  width: 100%;
}

.fb .col{
  flex:1;
  text-align: center;
  border:1px solid black;
  border-radius: 3px;
  background-color: hsl(0,0%,99%);
}

.points{
  padding: 20px;
}

.pointDis{
  font-size:30px;
}

.points .icon{
  font-size:30px;
  border:1px solid black;
  border-radius: 3px;
  padding:0px 15px;
  background-color:hsl(0,0%, 95%);
  font-weight: 900;
  cursor:pointer;
}

.points .icon.minus{
  color:red;
}

.points .icon.plus{
  color:green;
}
input[type=number]{
  text-align:center;
}
input[type=submit]{
  position:absolute;
  left:0;
  top:50%;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
