/* css specific for the search.html file */

/*navbar related css*/
.navbar {
    background-color: #0071C5;
    box-shadow: 0px 0px 20px black;
    color: gray;
}

a {
    color: white;
}

a:hover {
    color: rgb(255, 170, 59);
}

body {
    background-color: rgb(243, 243, 243);
}

h2 {
    color: #0071C5;
}
