{% extends 'base.html' %} {% block header %}
<!-- This should always go here -->
<h1>{% block title %}Home{% endblock %}</h1>
<!-- You can change Register to anything else.-->
{% endblock %} {% block content %}
<!-- All your body content goes here! -->
<h3> Password <br> 
    <input> <br>
    Email (UCI) <br>
    <input> <br>
    First Name <br>
    <input> <br>
    Last Name <br>
    <input> <br>
    UCINETID <br>
    <input> <br>
    Major <br>
    <input> <br> 
    Year <br>
    <input> <br></h3>
{% endblock %}
