{% extends 'base.html' %}


{% block header %}

{% endblock %}
{% block content %}


<table>
<thead>
<tr>
  <th>email</th>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Admin</th>
  <th>Major</th>
  <th>Year</th>
  <th>Paid Member</th>
</tr>
</thead>
<tbody>
  <tr>
  {% for user_dict in users %}
    <td>{{user_dict["email"]}}</td> 
    <td>{{user_dict["first_name"]}}</td>
    <td>{{user_dict["last_name"]}}</td>
    <td>{{user_dict["is_admin"]}}</td> <!--Make drop down menu have an update button to the each row Utilize ajax-->
    <td>{{user_dict["major"]}}</td>
    <td>{{user_dict["year"]}}</td>
    <td>{{user_dict["paid_status"]}} </td> <!--Make drop down menu-->
  </tr>
{% endfor %}
</tbody>
</table>



<script>

</script>

{% endblock %}
