{% macro navbar_logged_in(g) %}
<nav class="navbar sticky-top">
    <a class="navbar-brand" href="{{ url_for('dashboard' )}}">SHPE | UCI Portal</a>
    <div class="dropdown">
        <button 
            type="button" 
            class="btn btn-outline-light dropdown-toggle" 
            data-toggle="dropdown">
            {% set name = g.name %}
            Hello, {{ name }}
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            {% set list1 = g.user['email'].split('@') %}
            {% set userid = list1[0] %}
            <a class="dropdown-item" href="{{ url_for('search') }}">Search</a>
            <a class="dropdown-item" href="{{ url_for('portfolio', ucinet=userid) }}">Portfolio</a>
            <a class="dropdown-item" href="{{ url_for('settings.settings') }}">Settings</a>
            <a class="dropdown-item" href="{{ url_for('auth.logout') }}"
                >Logout</a
            >
        </div>
    </div>
</nav>
{% endmacro %}

{% macro navbar_logged_out() %}
<nav class="navbar sticky-top">
    <a class="navbar-brand" href="#">SHPE | UCI Portal</a>
</nav>
{% endmacro %}

{% macro footer() %}
<footer class="footer">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer>
{% endmacro %}