{% extends 'base.html' %}
<!--Import the <head> from 'base.html'-->
{% block header %}
    <title>SHPE UCI - Dashboard</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}"/>
    {% block title %}
    {% endblock %}
{% endblock %}

{% from "components.html" import navbar_logged_in with context %}

{% block content %}

<!--Navbar to be displayed to logged in users-->
{{ navbar_logged_in() }}

<div class="container my-4 rounded" id="member-banner">
	<div class="row justify-content-md-left">
		<div class="col-md-auto">
			<img class="rounded-circle float-left" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png" alt="Profile Picture" class="img-thumbnail">
		</div>
		<div class="col py-4">
			<h2>{{firstName}} {{lastName}}</h2>
			<h4>{{major}} &#8226 {{gradYear}}</h3>
		</div>
	</div>
</div>

{% endblock %}
