{% extends 'base.html' %}
<!--Import the <head> from 'base.html'-->
{% block header %}
<title>SHPE UCI - Dashboard</title>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
{% block title %}
{% endblock %}
{% endblock %}

{% block content %}

<div class="container px-4" id="search-container">
    <section class="row">
        <div class="col" id="search">
            <form>
                <fieldset>
                    <input onkeyup="filterSearch()" autocomplete="off" autofocus="autofocus" class="query"
                           id="alumni_search" placeholder="Search" type="search">
                </fieldset>
            </form>
            <p style="display:inline-block;" id="searchDescription">Find SHPE |</p>
            <input type="checkbox" id="alumniFilterCheck" name="alumniFilterCheck" value="alumni">
            <label for="alumniFilterCheck"> UCI Alumni</label><br>
        </div>
    </section>
</div>
<div class="container px-4" id="results-container">
    <div id="results">
        <ul id="user_results">
            {% for user_dict in users %}
            {% set list1 = user_dict['email'].split('@') %}
            <li style="display: block">
                <a href="/portfolio/{{list1[0]}}">{{ user_dict['first_name'] + ' ' + user_dict['last_name'] }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}