{% extends 'base.html' %}
<!--Import the <head> from 'base.html'-->
{% block header %}
    <title>SHPE UCI - Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"/>
    <script
    src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
    crossorigin="anonymous"></script>
    {% block title %}

    {% endblock %}
{% endblock %}

{% block content %}

{% from "components.html" import navbar_logged_in with context %}
{{navbar_logged_in()}}

<div class="container mt-4">
	<div class="row">
        <div class="col-sm-4">
            <div class = "item">
                <img src=https://upload.wikimedia.org/wikipedia/en/thumb/0/0e/University_of_California%2C_Irvine_seal.svg/800px-University_of_California%2C_Irvine_seal.svg.png style = "width: 300px; height: 300px" alt="UCI Logo" >
            </div>
        </div>
        <div class="col-sm-8">
            <form class="form-horizontal" method="POST">
                <div class = "form-group">
                    <label class = "control-label col-sm-2" for="first_name">First Name: </label>
                    <div class="col-sm-10"> 
                        <input name = "first_name" class = "form-control" value="{{user['first_name']}}" id = "first_name"/>
                    </div>
                </div>

                <div class = "form-group">
                    <label class = "control-label col-sm-2" for="last_name">Last Name: </label>
                    <div class="col-sm-10"> 
                        <input name = "last_name" class="form-control" value="{{user['last_name']}}" id = "last_name"/>
                    </div>
                </div>

                <div class = "form-group">
                    <label class = "control-label col-sm-2" for="email">UCI Email: </label>
                    <div class="col-sm-10"> 
                        <input name = "email" class="form-control" value="{{user['email']}}" id = "email"/>
                    </div>
                </div>

                <div class = "form-group">
                    <label class = "control-label col-sm-2" for="major">Major: </label>
                    <div class="col-sm-10"> 
                        <input list="majors" name = "major" class="form-control" value="{{user['major']}}" id = "major"/>
                        <datalist id="majors">
                        </datalist>
                    </div>
                </div>

                <div class = "form-group">
                    <label class = "control-label col-sm-2" for="year">Year: </label>
                    <div class="col-sm-10"> 
                        <input list="years" name = "year" class="form-control" value="{{user['year']}}" id = "year"/>
                        <datalist id="years">
                        </datalist>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Change Profile</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let data = {{ data | tojson }};
</script>
<script src="{{ url_for('static', filename='js/register.js') }}"></script>

{% endblock %}